<section class="annual-summit">
  <div class="summit-container">
    <div class="summit-background">
      <img 
        src="./../../../assets/icons/Webinar.png" width="100%" height="100%"
        alt="Summit background" 
        class="summit-bg-image"
      />
    </div>
    
    <div class="summit-overlay">
      <div class="summit-content">
        <div class="summit-badge">Webinar</div>
        
        <h2 class="summit-title">Annual Investor Summit 2025</h2>
        
        <p class="summit-description">
          Join us on August 30, 2025 at 12pm IST for Baring India's flagship summit, an exclusive experience for our global LPs to engage with bold ideas, portfolio visionaries, and the future of private equity in India.
        </p>
      </div>
      
      <div class="summit-cta-container">
        <button class="summit-cta-text">Join the guestlist</button>
        <button class="summit-cta-arrow">
          <!-- <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_8_111)">
              <path d="M10.25 4.72656L18.125 12.6016L10.25 20.4766" stroke="black" stroke-width="1.56" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clipPath id="clip0_8_111">
                <rect width="25.2" height="25.2" fill="white" transform="translate(0.796875)"/>
              </clipPath>
            </defs>
          </svg> -->
          <img src="./../../../assets/icons/CaretRight.png" alt="Join the guestlis" width="26" height="26">
        </button>
      </div>
    </div>
  </div>
</section>
