.web-portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.portfolio-content {
  flex: 1;
  padding: var(--spacing-xxl) 0;
  
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
  }
}
