<section class="documents-preview">
  <h3 class="section-title">Latest Documents</h3>
  <div class="documents-grid">
    <div class="document-card" *ngFor="let doc of [1,2,3,4]">
      <div class="document-card-title">Quarterly Update Report</div>
      <div class="document-card-meta">Issued on 23 July 2025</div>
      <div class="document-card-actions">
        <div class="document-card-action" title="View">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 4.8125C4.125 4.8125 1.375 11 1.375 11C1.375 11 4.125 17.1875 11 17.1875C17.875 17.1875 20.625 11 20.625 11C20.625 11 17.875 4.8125 11 4.8125Z" stroke="#122334" stroke-width="1.03125" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11 14.4375C12.8985 14.4375 14.4375 12.8985 14.4375 11C14.4375 9.10152 12.8985 7.5625 11 7.5625C9.10152 7.5625 7.5625 9.10152 7.5625 11C7.5625 12.8985 9.10152 14.4375 11 14.4375Z" stroke="#122334" stroke-width="1.03125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="document-card-action" title="Download">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 12.375V2.75" stroke="#122334" stroke-width="1.03125" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18.5625 12.375V17.875H3.4375V12.375" stroke="#122334" stroke-width="1.03125" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14.4375 8.9375L11 12.375L7.5625 8.9375" stroke="#122334" stroke-width="1.03125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
