<section class="fund-selector bg-secondary-dark">
  <div class="container">
    <div class="fund-selector-header">
      <div class="fund-selector-content">
        <div class="fund-selector-meta">
          <span class="inception-date">{{ inceptionDate }}</span>
          <span class="account-id">{{ accountId }}</span>
        </div>
        
        <div class="fund-selector-main">
          <div class="fund-dropdown">
            <button class="fund-dropdown-trigger">
              <span class="fund-dropdown-label">Select fund</span>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.375 5.75L7 10.125L2.625 5.75" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
          
          <h1 class="fund-title">{{ selectedFund }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
