<section class="portfolio-overview">
  <div class="container">
    <div class="overview-header">
      <h3 class="overview-title">Portfolio Overview</h3>
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_216)">
          <path d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.3125 10.3125C10.4948 10.3125 10.6697 10.3849 10.7986 10.5139C10.9276 10.6428 11 10.8177 11 11V14.4375C11 14.6198 11.0724 14.7947 11.2014 14.9236C11.3303 15.0526 11.5052 15.125 11.6875 15.125" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.6562 8.25C11.2258 8.25 11.6875 7.78829 11.6875 7.21875C11.6875 6.64921 11.2258 6.1875 10.6562 6.1875C10.0867 6.1875 9.625 6.64921 9.625 7.21875C9.625 7.78829 10.0867 8.25 10.6562 8.25Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_1_216">
            <rect width="22" height="22" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>

    <div class="portfolio-metrics">
      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_235)">
                <path d="M3.5 19.25L14 25.375L24.5 19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 14L14 20.125L24.5 14" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 8.75L14 14.875L24.5 8.75L14 2.625L3.5 8.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1_235">
                  <rect width="28" height="28" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="portfolio-metric-label">Total Portfolio Value</div>
        </div>
        <div class="portfolio-metric-value">₹2,285.19 Cr</div>
      </div>

      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_247)">
                <path d="M3.5 19.25L14 25.375L24.5 19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 14L14 20.125L24.5 14" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 8.75L14 14.875L24.5 8.75L14 2.625L3.5 8.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1_247">
                  <rect width="28" height="28" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="portfolio-metric-label">Total Invested</div>
        </div>
        <div class="portfolio-metric-value">₹1,872.29 Cr</div>
      </div>

      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_259)">
                <path d="M3.5 19.25L14 25.375L24.5 19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 14L14 20.125L24.5 14" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 8.75L14 14.875L24.5 8.75L14 2.625L3.5 8.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1_259">
                  <rect width="28" height="28" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="portfolio-metric-label">Overall MOIC</div>
        </div>
        <div class="portfolio-metric-value">1.32x</div>
      </div>

      <div class="portfolio-metric-card">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_271)">
                <path d="M3.5 19.25L14 25.375L24.5 19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 14L14 20.125L24.5 14" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 8.75L14 14.875L24.5 8.75L14 2.625L3.5 8.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1_271">
                  <rect width="28" height="28" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="portfolio-metric-label">Total Gains</div>
        </div>
        <div class="portfolio-metric-value">₹259.37 Cr</div>
      </div>
    </div>
  </div>
</section>
