<section class="portfolio-overview">
  <div class="container">
    <div class="overview-header">
      <h3 class="overview-title">Portfolio Overview</h3>
      <img src="../../../assets/icons/Info.png" height="22" width="22" alt="Portfolio Info">
    </div>

    <div class="portfolio-metrics">
      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_235)">
                <path d="M3.5 19.25L14 25.375L24.5 19.25" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 14L14 20.125L24.5 14" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 8.75L14 14.875L24.5 8.75L14 2.625L3.5 8.75Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_1_235">
                  <rect width="28" height="28" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="portfolio-metric-label">Total Portfolio Value</div>
        </div>
        <div class="portfolio-metric-value">₹2,285.19 Cr</div>
      </div>

      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <img src="../../../assets/icons/Stack.png" height="30" width="30" alt="Total Invested">
          </div>
          <div class="portfolio-metric-label">Total Invested</div>
        </div>
        <div class="portfolio-metric-value">₹1,872.29 Cr</div>
      </div>

      <div class="portfolio-metric-card border-right">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
           <img src="../../../assets/icons/Stack.png" height="30" width="30" alt="Overall MOIC">
          </div>
          <div class="portfolio-metric-label">Overall MOIC</div>
        </div>
        <div class="portfolio-metric-value">1.32x</div>
      </div>

      <div class="portfolio-metric-card">
        <div class="portfolio-metric-header">
          <div class="portfolio-metric-icon">
            <img src="../../../assets/icons/Stack.png" height="30" width="30" alt="Total Gains">
          </div>
          <div class="portfolio-metric-label">Total Gains</div>
        </div>
        <div class="portfolio-metric-value">₹259.37 Cr</div>
      </div>
    </div>
  </div>
</section>
